<% if @videos.any? %>
 <div class="contents">
    <div class="custom-container">
  <!-- Bread Crumb Start -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ol class="breadcrumb">
             <%= render_breadcrumbs :tag => :li, :separator => "" %>
          </ol>
      </div>
     
     
      <% @videos.in_groups_of(3) do |group| %>
      
      <div class="row" >
                <% group.each do |video| %>
                  <% if video %>
                    <div class="col-md-4">
                      <%= link_to video_url(video) do %>
                      <div class="yt_video thumbnail">
                        <%= image_tag "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title,
                                      class: 'img-rounded'%>

                        <div class="caption">
                          <h5><%= video.title %></h5>
                          <p>Author: <b><%= video.author %></b></p>
                          <p>Duration: <b><%= video.duration %></b></p>
                          <p>
                            <span class="fa fa-thumbs-up"></span> <%= video.likes %>
                            <span class="fa fa-thumbs-down"></span> <%= video.dislikes %>
                          </p>
                        </div>
                      </div>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
          

            <% end %>
          
          </div>
        <% end %>
      </div>
    </div>
    
    
 