<% content_for :page_title,  @video.title %>
<% content_for :page_description, @video.description  %>

<% content_for :meta_tags do %>
<!-- Twitter Card data --> 
<meta name="twitter:card" value="<%= @video.description %>">

<!-- Open Graph data --> 
<meta property="og:author" content="<%= @video.author %>">
<meta property="og:title" content="<%= @video.title %>" /> 
<meta property="og:site_name" content="Eye On The County">
<meta property="og:type" content="video">
<meta property="og:url" content="<%= video_url(@video) %>" />
<meta property="og:image" content="<%= 'http://eyeonthecounty.com'+@video.thumbnail.url(:large) %>" />
<meta property="og:description" content="<%= @video.description %>" />

  
<% end %>
<div class="videoplayersec">
        <div class="vidcontainer">
            <div class="row"> 
                <!-- Video Player Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 playershadow">
                    <div class="playeriframe">
                       <%= raw (@video.get_details.embed_html5) %>
                    </div>
                </div>
                <!-- Video Player End --> 
                <!-- Video Stats and Sharing Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 videoinfo">
                    <div class="row"> 
                        <!-- Uploader Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 uploader">
                            
                            <div class="aboutuploader">
                                <h5><a href="video-list.html">By <%= @video.author %></a></h5>
                                <time datetime="25-12-2014">Uploaded : <%= @video.published_at %></time>
                                <br>
                            </div>
                        </div>
                        <!-- Uploader End --> 
                        <!-- Video Stats Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats">
                            <hr class="visible-xs">
                            <ul>
                                <li class="likes">
                                    <h5>Likes</h5>
                                    <h2><%= @video.fetch_likes %></h2>
                                    
                                </li>
                                <li class="views">
                                    <h5>Views</h5>
                                    <h2><%= @video.get_views %></h2>
                                </li>
                            </ul>
                        </div>
                        <!-- Video Stats End --> 
                               <!-- Video Share Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 videoshare">
                            <ul>
                                <li class="facebook" id="facebook" data-url="<%= video_url(@video) %>" data-text="<%= @video.description %>">
                                   
                                   
                                </li>
                                <li class="twitter" id="twitter" data-url="<%= video_url(@video) %>" data-text="<%= @video.title %>">
                     
                                   
                                </li>
                                <li class="gplus" id="googlePlus" data-url="<%= video_url(@video) %>" data-text="<%= @video.description %>">
                                
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="blogtext">
                                    <h2 class="heading"><%= @video.title %></h2>
                                    <div class="clearfix"></div>
                                    <div class="blogmetas">
                                        <ul>
                                            <li> 
                                              <i class="fa fa-align-justify"></i> <%= link_to @video.category.name, category_url(@video.category) %>
                                            </li>
                                            <li> 
                                              <i class="fa fa-tags"></i> 
                                                <% @video.tags.each do |tag| %>
                                                  <%= link_to tag.name, tag_url(tag) %>
                                                <% end %>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                      <%= sanitize(@video.description) %>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- Video Stats and Sharing End --> 
                <!-- Like This Video Start -->
              
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 likeit">
                                     
                      <hr />
                        <% if user_signed_in? %>
                           <h3> Cast Your Vote </h3>   
                           <div id="votable-<%= @video.id %>-vote">
                              <%= render "votes/vote_result", :votable => @video %>
                              <%= render "votes/vote_controls", :votable => @video %>
                           </div>
                        <% else %>
                            <h3> Sign In To Vote </h3>
                        <% end %>


                    </div>
                <!-- Like This Video Enb --> 
            </div>
        </div>
    </div>
        <div class="contents">
        <div class="custom-container">
     <!-- Contents Section Started -->
                    <div class="sections">
                        <h2 class="heading">Comments (<%= @video.comment_threads.size %>)<h2>
                        <div class="clearfix"></div>
                        <div id="comments">
                              <%= render :partial => "comments/comment", :collection => @comments, :as => :comment %>

                        </div>
                    </div>
                    <!-- Contents Section End -->
                    <div class="clearfix"></div>
                    <!-- Contents Section Started -->
                    <div class="sections">
                        <h2 class="heading">Leave Reply</h2>
                        <div class="clearfix"></div>
                        <div id="leavereply">
                          <% if user_signed_in? %>
                           <%= render "comments/form" %>
                          <% else %>
                            <h3> You Must Sign In To Leave A Comment</h3>
                          <% end %>
                        </div>
                    </div>
                    <!-- Contents Section End -->
                    <div class="clearfix"></div>
                    </div>
                    </div>
                    
<script>
$('#twitter').sharrre({
  share: {
    twitter: true
  },
  enableHover: false,
  enableTracking: true,
  buttons: { twitter: {via: '_JulienH'}},
  template: ' <i class="fa fa-twitter"></i><div class="sharingstats text-center"><h5>{total}</h5><p>Shares</p></div>',
  click: function(api, options){
    api.simulateClick();
    api.openPopup('twitter');
  }
});
$('#facebook').sharrre({
  share: {
    facebook: true
  },
  enableHover: false,
  enableTracking: true,
  template: ' <i class="fa fa-facebook"></i><div class="sharingstats text-center"><h5>{total}</h5><p>Shares</p></div>',
  click: function(api, options){
    api.simulateClick();
    api.openPopup('facebook');
  }
});
$('#googlePlus').sharrre({
  share: {
    googlePlus: true
  },
  enableHover: false,
  enableTracking: true,
  urlCurl: "",
  template: ' <i class="fa fa-google-plus"></i><div class="sharingstats text-center"><h5>{total}</h5><p>Shares</p></div>',
  click: function(api, options){
    api.simulateClick();
    api.openPopup('googlePlus');
  }
});
</script>

<style type="text/css">
  
  .sharrre .count {
    color:#FFFFFF;
    display:block;
    font-size:18px;
    font-weight:bold;
    line-height:40px;
    height:40px;
    position:relative;
    text-align:center;

  }

  
</style>