<% content_for :page_title,  @video.title %>
<% content_for :page_description, @video.description  %>

<% content_for :meta_tags do %>
<!-- Twitter Card data --> 
<meta name="twitter:card" value="<%= @video.description %>">

<!-- Open Graph data --> 
 <meta name="author" content="<%= @video.author %>">
<meta property="og:title" content="<%= @video.title %>" /> 
<meta property="og:site_name" content="Eye On The County">
<meta property="og:type" content="article">
<meta property="og:url" content="<%= video_url(@video) %>" />
<meta property="og:image" content="<%= 'http://beta.eyeonthecounty.com'+@video.thumbnail.url(:large) %>" />
<meta property="og:description" content="<%= @video.description %>" />

  
<% end %>
<div class="videoplayersec">
        <div class="vidcontainer">
            <div class="row"> 
                <!-- Video Player Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 playershadow">
                    <div class="playeriframe">
                       <%= raw (@video.get_details.embed_html5) %>
                    </div>
                </div>
                <!-- Video Player End --> 
                <!-- Video Stats and Sharing Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 videoinfo">
                    <div class="row"> 
                        <!-- Uploader Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 uploader">
                            
                            <div class="aboutuploader">
                                <h5><a href="video-list.html">By <%= @video.author %></a></h5>
                                <time datetime="25-12-2014">Uploaded : <%= @video.published_at %></time>
                                <br>
                            </div>
                        </div>
                        <!-- Uploader End --> 
                        <!-- Video Stats Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats">
                            <hr class="visible-xs">
                            <ul>
                                <li class="likes">
                                    <h5>Likes</h5>
                                    <h2><%= @video.likes %></h2>
                                </li>
                                <li class="views">
                                    <h5>Views</h5>
                                    <h2><%= @video.views %></h2>
                                </li>
                            </ul>
                        </div>
                        <!-- Video Stats End --> 
                        <!-- Video Share Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 videoshare" data-url="<%= video_url(@video) %>" id="shareme" data-title="Shares">
                         
                        </div>
                        <!-- Video Share End --> 
                    </div>
                </div>
                <!-- Video Stats and Sharing End --> 
                <!-- Like This Video Start -->
                
                <!-- Like This Video Enb --> 
            </div>
        </div>
    </div>

  <script>
$('#shareme').sharrre({
  share: {
    googlePlus: true,
    facebook: true,
    twitter: true,
    digg: true,
    delicious: true
  },
  enableTracking: true,
  buttons: {
    googlePlus: {size: 'tall', annotation:'bubble'},
    facebook: {layout: 'box_count'},
    twitter: {count: 'vertical'},
    digg: {type: 'DiggMedium'},
    delicious: {size: 'tall'}
  },
  hover: function(api, options){
    $(api.element).find('.buttons').show();
  },
  hide: function(api, options){
    $(api.element).find('.buttons').hide();
  }
});
</script>
<style type="text/css">
#example3{
  float:left;
  margin:63px 33% 0 33%;
}
#shareme .box{
  float:left;
  margin:5% 8% 0 8%;
  width:100%;
}
#shareme .box a{
  color:#404040;
  text-shadow: 0 1px 1px rgba(167,167,167,.4);
}
#shareme .box a:hover{
  text-decoration:none;
}
#shareme .count {
  font-weight:bold;
  font-size:50px;
  float:left;
  border-right:2px solid #57b8d1;
  line-height:40px;
  padding-right:10px
}
#shareme .share {
  float:left;
  margin-left:10px;
  font-size:20px;
  width:82px;
}
#shareme .buttons {
  position: absolute;
  width:294px;
  background-color:#fff;
  border: 1px solid rgba(0,0,0,.2);
  padding:10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#shareme .button {
  float:left;
  max-width:50px;
  margin:0 10px 0 0;
}
#shareme .facebook {
  margin:0 4px 0 0;
}
</style>

