<% content_for :page_title,  @video.title %>
<% content_for :page_description, @video.description  %>

<% content_for :meta_tags do %>
<!-- Twitter Card data --> 
<meta name="twitter:card" value="<%= @video.description %>">

<!-- Open Graph data --> 
<meta property="og:title" content="<%= @video.title %>" /> 
<meta property="og:type" content="video" /> 
<meta property="og:url" content="<%= video_url(@video) %>" />
<meta property="og:image" content="<%= raw("http://img.youtube.com/vi/#{@video.uid}/hqdefault.jpg") %>" />
<meta property="og:video" content="<%= @video.url %>" />
<meta property="og:description" content="<%= @video.description %>" />
  
<% end %>
<div class="videoplayersec">
        <div class="vidcontainer">
            <div class="row"> 
                <!-- Video Player Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 playershadow">
                    <div class="playeriframe">
                       <%= raw (@video.get_details.embed_html5) %>
                    </div>
                </div>
                <!-- Video Player End --> 
                <!-- Video Stats and Sharing Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 videoinfo">
                    <div class="row"> 
                        <!-- Uploader Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 uploader">
                            
                            <div class="aboutuploader">
                                <h5><a href="video-list.html">By <%= @video.author %></a></h5>
                                <time datetime="25-12-2014">Uploaded : <%= @video.published_at %></time>
                                <br>
                            </div>
                        </div>
                        <!-- Uploader End --> 
                        <!-- Video Stats Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats">
                            <hr class="visible-xs">
                            <ul>
                                <li class="likes">
                                    <h5>Likes</h5>
                                    <h2><%= @video.likes %></h2>
                                </li>
                                <li class="views">
                                    <h5>Views</h5>
                                    <h2><%= @video.views %></h2>
                                </li>
                            </ul>
                        </div>
                        <!-- Video Stats End --> 
                        <!-- Video Share Start -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 videoshare">
                            <ul>
                                <li class="facebook">
                                    <i class="fa fa-facebook"></i>
                                    <div class="shaingstats">
                                        <% likes = facebook_likes(video_url(@video)) %>
                                        <% if  likes == nil %>
                                        <h5>0</h5>
                                        <% else %>
                                        <h5><%= likes %></h5>
                                        <% end %>
                                        <p>Shares</p>
                                    </div>
                                    <a href="http://www.facebook.com" class="link" target="_blank"></a>
                                </li>
                                <li class="twitter">
                                    <i class="fa fa-twitter"></i>
                                    <div class="shaingstats">
                                        <h5><%= twitter_shares(video_url(@video)) %></h5>
                                        <p>Tweets</p>
                                    </div>
                                    <a href="http://www.twitter.com" class="link" target="_blank"></a>
                                </li>
                                <li class="gplus">
                                    <i class="fa fa-google-plus"></i>
                                    <div class="shaingstats">
                                        <h5></h5>
                                        <p>Shares</p>
                                    </div>
                                    <a href="https://plus.google.com" class="link" target="_blank"></a>
                                </li>
                            </ul>
                        </div>
                        <!-- Video Share End --> 
                    </div>
                </div>
                <!-- Video Stats and Sharing End --> 
                <!-- Like This Video Start -->
                <div id="demo1" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>
                <!-- Like This Video Enb --> 
            </div>
        </div>
    </div>

    <script>
$('#demo1').sharrre({
  share: {
    googlePlus: true,
    facebook: true,
    twitter: true
  },
  buttons: {
    googlePlus: {size: 'tall', annotation:'bubble'},
    facebook: {layout: 'box_count'},
    twitter: {count: 'vertical', via: '_JulienH'}
  },
  hover: function(api, options){
    $(api.element).find('.buttons').show();
  },
  hide: function(api, options){
    $(api.element).find('.buttons').hide();
  },
  enableTracking: true
});
    </script>

    <style>
    .sharrre .box{
  float:left;

}
.sharrre .count {
  color:#444444;
  display:block;
  font-size:17px;
  line-height:34px;
  height:34px;
  padding:4px 0;
  position:relative;
  text-align:center;
  text-decoration:none;
  width:50px;
  background-color:#eee;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px; 
}
.sharrre .share {
  color:#FFFFFF;
  display:block;
  font-size:11px;
  height:16px;
  line-height:16px;
  margin-top:3px;
  padding:0;
  text-align:center;
  text-decoration:none;
  width:50px;
  background-color:#9CCE39;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px; 
}
.sharrre .buttons {
  display:none;
  position:absolute;
  margin-left:50px;
  z-index:10;
  background-color:#fff;
}
.sharrre .button {
  float:left;
  max-width:50px;
  margin-left:10px;
}
    </style>

