 <div class="contents">
    <div class="custom-container">
	<!-- Bread Crumb Start -->
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        <ol class="breadcrumb">
	           <%= render_breadcrumbs :tag => :li, :separator => "" %>
	        </ol>
	    </div>
	<div class="sponsor-header">
		<h2> Eye On The County is made possible by the following fine sponsors </h2>
	</div>
	<div class="portfolioFilter">
	    <ul class="nav nav-pills">
	    <li><a href="#" data-filter="*" class="current">All Categories</a></li>
	    <% @categories.each do |category| %>
	    <li><a href="#" data-filter=".<%= category.name%> "><%= category.name%></a></li>
	    <% end %>
	 	</ul>
	</div>
	 
	<div class="portfolioContainer">
	 	<% @sponsors.each do |sponsor| %>
	 	
	    	<div class="<%= sponsor.category.name %>">
	    		<%= link_to sponsor_url(sponsor) do %>
		  		<%= image_tag sponsor.avatar.url(:medium), :class=> "img-responsive img-sponsor" %>
		  		<div class="text-center">
		  		 <h4><%= link_to sponsor.name, sponsor_url(sponsor) %></h4>
		  		 </div>
		  		<% end %>
	    	</div> 

	   
	    <% end %>
	 
	</div>
</div>
</div>
<script>
$(window).load(function(){
    var $container = $('.portfolioContainer');
    $container.isotope({
        filter: '*',
        animationOptions: {
            duration: 750,
            easing: 'linear',
            queue: false
        }
    });
 
    $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
            filter: selector,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
         });
         return false;
    }); 
});
</script>
