<div class="container magazine top-no-header">
	<header class="page-title">
								<h1><%= @sponsor.name %></h1>
								
	</header>
	<div class="divider half-margins"><!-- divider -->
							
	</div>
	<p class="lead"><%= @sponsor.description %></p>
	<div class="row">
		<div class="col-md-8">
		
			<div>
			
   			 </div>
		</div>
		<div class="col-md-4">
			<div>
			<%= image_tag @sponsor.avatar.url(:large), :class=> "img-responsive sponsor-img"%>
			</div>
			<h3>Sponsor Details</h3>
			<b>Phone:<br></b><%= @sponsor.phone %><br>
			<b>Email:<br></b><%= mail_to @sponsor.email %><br>
			<b>Website:<br></b><a href="<%=@sponsor.url %>"><%=@sponsor.url %></a><br>
			<b>Address:</b><br>
			<%= @sponsor.address %><br>
			<%= @sponsor.city %> , <%= @sponsor.state %>, <%= @sponsor.zip %><br>




		</div>
	</div>
	
</div>