<% content_for :page_title,  @sponsor.name %>
<% content_for :page_description, @sponsor.description  %>

<% content_for :meta_tags do %>
<!-- Twitter Card data --> 
<meta name="twitter:card" value="<%= @sponsor.description %>">

<!-- Open Graph data --> 

<meta property="og:title" content="<%= @sponsor.name %>" /> 
<meta property="og:site_name" content="Eye On The County">
<meta property="og:type" content="article">
<meta property="og:url" content="<%= sponsor_url(@sponsor) %>" />
<meta property="og:image" content="<%= asset_url @sponsor.avatar.url(:medium) %>" />
<meta property="og:description" content="<%= @sponsor.description %>" />

<% end %>

<div class="container magazine top-no-header">
	<header class="page-title">
								<h1><%= @sponsor.name %></h1>
								
	</header>
	<div class="divider half-margins"><!-- divider -->
							
	</div>
	
	<div class="row">
		<div class="col-md-8">
	      <% if @sponsor.videos.size > 0 %>
	      <div class="playeriframe">
	      	<%= raw (@sponsor.videos.first.get_details.embed_html5) %>
	      </div>
	      
	      <% end %>
	     <div class="sponsor-description lead">
	        <%= sanitize(@sponsor.description) %>
	     </div>
		</div>
		<div class="col-md-4">
			<div>
			<%= image_tag @sponsor.avatar.url(:large), :class=> "img-responsive sponsor-img", :height=> 300, :width=>300%>
			</div>
			<h3>Sponsor Details</h3>
			<b>Phone:<br></b><%= @sponsor.phone %><br>
			<b>Email:<br></b><%= mail_to @sponsor.email %><br>
			<b>Website:<br></b><a href="<%=@sponsor.url %>"><%=@sponsor.url %></a><br>
			<b>Address:</b><br>
			<%= @sponsor.address %><br>
			<%= @sponsor.city %> , <%= @sponsor.state %>, <%= @sponsor.zip %><br>




		</div>
	</div>

	
</div>
 <div class="clearfix"></div>