

				<!-- PAGE TITLE -->
				<header id="page-title">
					<div class="container">
						<h1>Sign In</h1>
					</div>
				</header>


				<section class="container">

					<div class="row">

						<!-- LOGIN -->
						<div class="col-md-6">

							<h2>Sign <strong>In</strong></h2>
							 <%= form_for(resource, as: resource_name, url: session_path(resource_name), :class=>"white-row") do |f| %>
							

							

								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Username or Email Address</label>
											<%= f.text_field :login, autofocus: true, :label => "false", :type=> "text", :class=> "form-control" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Password</label>
											<%= f.password_field :password, autocomplete: "off", :label => "false", :class=> "form-control" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<span class="remember-box checkbox">
											<label for="rememberme">
												  <% if devise_mapping.rememberable? -%>
												    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
												  <% end %>
											</label>
										</span>
									</div>
									<div class="col-md-6">
									<%= f.submit "Sign in", :class=>"btn btn-primary pull-right" %>
									</div>
								</div>

						<% end %>

						</div>
						<!-- /LOGIN -->

						<!-- PASSWORD -->
						<div class="col-md-6">

							<h2>Forgot <strong>Password</strong>?</h2>

							<div class="white-row">

								<p>
									Tell us your email address and we will send you password reset link.
								</p>

								<!-- password form -->
								<label>Type your E-mail Address</label>
								<%= form_for(:user, :url => password_path(:user), html: { method: :post }) do |f| %>
									<div class="input-group">
										
										<%= f.email_field :email, required: true, autofocus: true, :class=> "form-control" %>
										<span class="input-group-btn">
										<button class="btn btn-primary">SEND</button>
										</span>
									</div>
									
								<% end %>

							</div>

						</div>
						<!-- /PASSWORD -->

					</div>


					<p class="white-row">
						<%= render "devise/shared/links" %>

				</section>

		



