 <!-- Contents Start -->
    <div class="contents">
    	<div class="custom-container">
            <!-- Bread Crumb Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ol class="breadcrumb">
                       <%= render_breadcrumbs :tag => :li, :separator => "" %>
                    </ol>
                </div>
                <!-- Bread Crumb End -->
                <!-- Content Column Start -->
            <div class="row">
            	<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 equalcol conentsection">
                    <!-- Contents Section Started -->
                    <div class="sections">
                        <h2 class="heading">Blog Posts</h2>
                        <div class="clearfix"></div>
                        <div class="row">
                            <% @posts.each do |post| %>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="blogposttwo">
                                    <figure>
                                        <%= link_to post_url(post) do %>
                                            <%= image_tag post.photo.url(:medium), :class=> "img-responsive hovereffect" %>
                                           
                                        <% end %>
                                    </figure>
                                    <div class="text">
                                        <h4><a href="blogdetail-double-sidebar.html"><%= post.title %></a></h4>
                                        <ul>
                                            <li><i class="fa fa-calendar"></i><%= post.published_at.strftime("%m/%d/%Y") %></li>
                                            <li>
                                                <i class="fa fa-align-justify"></i>
                                                <a href="#"><%= post.category.try(:name) %></a>
                                            </li>
                                        </ul>
                                        <p>
                                           <%= post.excerpt %>
                                        </p>
                                        <%= link_to "Read More", post_url(post), :class=> "btn btn-primary btn-xs backcolor" %>
                                        
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <% end %>
                            </div>
                        </div>
                    </div>
                    <!-- Contents Section End -->
                <!-- Gray Sidebar Start -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 equalcol graysidebar">
                   
        
                   
                  
                    <!-- Recent Post Widget start -->
                    <div class="widget">
                        <h2 class="heading">Recent Posts</h2>
                        <ul class="recentposts">
                            <li>
                                <h5><a href="blogdetail-double-sidebar.html">Dolor. Proin. Sit rhoncus ut odio nascetur</a></h5>
                                <p class="date">25 April 2013</p>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <!-- Recent Post Widget end -->
                      <!-- Advertisement start -->
                    <div class="widget">
                        <img src="images/adv2.gif" class="img-responsive" alt="">
                    </div>
                    <div class="clearfix"></div>
                    <!-- Advertisement End -->
                </div>
                <!-- Gray Sidebar End -->
