<% content_for :page_title,  @post.title %>
<% content_for :page_description, @post.excerpt  %>

<% content_for :meta_tags do %>
<!-- Twitter Card data --> 
<meta name="twitter:card" value="<%= @post.excerpt %>">

<!-- Open Graph data --> 
<meta property="og:title" content="<%= @post.title %>" /> 
<meta property="og:type" content="article" /> 
<meta property="og:site_name" content="Eye On The County">
<meta property="og:url" content="<%= post_url(@post) %>" />
<meta property="og:image" content="<%= @post.photo.url(:medium) %>" />
<meta property="og:description" content="<%= @post.excerpt %>" />
  
<% end %>

<!-- Contents Start -->
    <div class="contents">
        <div class="custom-container">
            <div class="row">
                <!-- Bread Crumb Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ol class="breadcrumb">
                       <%= render_breadcrumbs :tag => :li, :separator => "" %>
                    </ol>
                </div>
                <!-- Bread Crumb End -->
                <!-- Content Column Start -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 equalcol conentsection">
                    <!-- Blog Detail Started -->
                    <div class="blogdetail sections">
          
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                                <div class="avatar">
                                    <figure>
                                     <%= image_tag @post.author.avatar.url(:medium), :class=> "img-responsive img-circle" %>
                                    </figure>
                                    <h5>By <%= @post.author.full_name %></h5>
                                    <p>
                                        <%= @post.author.try(:bio) %>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                                <div class="blogtext">
                                    <h2 class="heading"><%= @post.title %></h2>
                                    <div class="clearfix"></div>
                                    <div class="blogmetas">
                                        <ul>
                                            <li><i class="fa fa-calendar"></i><%= @post.published_at %></li>
                                            <li>
                                                <i class="fa fa-align-justify"><%= @post.category.name %></i>
                                                
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                    <%= sanitize(@post.body) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Detail End -->
                    <div class="clearfix"></div>
                    
          
     
                <!-- Content Column End -->
            </div>
        </div>
    </div>
    <!-- Contents End -->